



/* Slideshow container */
.slideshow-container {
height: auto;
  position: relative;
  margin: auto;
 
 
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 33%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */





.secondslide{
    background-color:#4B585D ; display:flex ; text-align: center ; justify-content: center ; gap: 30px;color: #fff;
}
.sliderancor{
    display: flex; color: #fff;  ; align-items: center;
}